{% extends 'index.html' %} {% load static %} {% block contentHead %}
<link rel="stylesheet" href="{% static 'css/style-portfolio.css' %}" />
{% endblock %} {% block contentBody %}
<div class="wrapper">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card p-4 justify-content-center text-center align-items-center d-flex">
            <div
              class="image d-flex flex-column justify-content-center align-items-center"
            >
              <button class="btn btn-secondary">
                <img src="{% static 'img/93.png' %}" height="100" width="100" />
              </button>
              <span class="name mt-3">Nadiatul Akmal Md Yusof</span>
              <span class="idd">nadiatul.yusof@eftech.com.my</span>
              <div
                class="d-flex flex-row justify-content-center align-items-center gap-2"
              >
                <span class="idd1">Seri kembangan, Selangor</span>
                <span><i class="fa fa-copy"></i></span>
              </div>
              <div
                class="d-flex flex-row justify-content-center align-items-center mt-3"
              >
                <span class="number"
                  >Eftech <span class="follow">Technical Data</span></span
                >
              </div>
              <div class="d-flex mt-2">
                <button class="btn1 btn-dark"><a href="https://www.linkedin.com/in/nadia-yusof-50093873/">Follow</a></button>
              </div>
              <div class="text mt-3">
                <span
                  >Experienced Fullstack Engineer with a demonstrated history of <br />
                  working in the information technology and services industry.<br />
                  Strong engineering professional with a Bachelor's Degree majoring in software engineering (minor finance) from Universiti Teknologi Petronas. 
                </span>
              </div>
              <div class="px-2 rounded mt-4 date">
                <span class="join">Joined Dec,2021</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3">
            <div>
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="http://www.entrepreneuraward.asia/entrepreneuraward/images/winners/Logo/2014/Efficient_logo.png"
                    width="50"
                    class="rounded-circle img-set"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Eftech Drilling Solutions</span>
                  <p class="mail">PALS - Petronas Asset Life Study</p>
                  <p class="mail">Assist clients to automate the <br>process to determine the remaining <br>life of the equipment's by using<br> ETL tools (extract, transform, load)<br> and to produce report and<br> visualization using Power BI tools</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Kuala Lumpur, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="http://www.entrepreneuraward.asia/entrepreneuraward/images/winners/Logo/2014/Efficient_logo.png"
                    width="50"
                    class="rounded-circle img-set"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Eftech Drilling Solutions</span>
                  <p class="mail">My Appraisal - Internal</p>
                  <p class="mail">Web application for <br>internal use to automate <br>the appraisal process</p>
                </div>>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Kuala Lumpur, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C560BAQElYTl_E5K5zg/company-logo_100_100/0/1616722583884?e=1671062400&v=beta&t=NNKEYFSO91IacvqAMJ407KZp7qctyOZFRl8kYvbjVeg"
                    width="50"
                    class="rounded-circle img-set-sq"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Skillquotient Resources Sdn. Bhd.</span>
                  <p class="mail">Software Expert</p>
                  <p class="mail">Project: PITSTOPS - PETRONAS <br>Integrated Shutdown Turnaround <br>Outage (STO) Planning & Execution<br> Solution (Modernize turnaround solution)</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Kuala Lumpur, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="https://healthmetrics.com/wp-content/uploads/2020/02/Refreshed-Logo_Light-BG-300x94.png"
                    width="50"
                    class="rounded-circle img-set-hm"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Healthmetrics</span>
                  <p class="mail">Fullstack Developer</p>
                  <p class="mail">Projects: Corporate Service<br>Pharmacy Module<br>Inpatient Module<br>Utilization Module</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Selangor, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="{% static 'img/ey.png' %}"
                    width="50"
                    class="img-set-sq"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Ernst & Young Tax Consultants</span>
                  <p class="mail">Sr. Associate</p>
                  <p class="mail">Projects: Tax Classification App <br> Global Trade Analytic Tool <br> Extraction team (SAP)</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Kuala Lumpur, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="{% static 'img/sm.png' %}"
                    width="50"
                    class="img-set"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Securemetric Bhd.</span>
                  <p class="mail">Sr. Software Engineer</p>
                  <p class="mail">Projects : SMS OTP Authentication. </br> Activity and Authentication <br> Log Enhancements. <br> Research and Design Report<br> for CENTAGATE enhancements. <br>CENTAGATE enhancement;<br>Modularization.</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Kuala Lumpur, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="https://static.wikia.nocookie.net/logopedia/images/f/ff/Astro_Awani.png/revision/latest?cb=20200922172412"
                    width="50"
                    class="img-set"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Astro Awani Network</span>
                  <p class="mail">Associate Digital Developer</p>
                  <p class="mail">Projects: Ramadan 1437<br>OHI<br>Sarawak Memilih</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Kuala Lumpur, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <div class="one">
                <div class="text-right pr-2 pt-1">
                  <i class="mdi mdi-dots-vertical dotdot"></i>
                </div>
                <div class="d-flex justify-content-center">
                  <img
                    src="https://www.infopro.com.my/wp-content/uploads/2017/12/Infopro-Logo-without-tagline.png"
                    width="50"
                    class="img-set"
                  />
                </div>
                <div class="text-center">
                  <span class="name">Infopro</span>
                  <p class="mail">Oracle (PL/SQL) Developer</p>
                  <p class="mail">Completed 15 error logs, <br>1 change request and 1 new report</p>
                </div>
                <div
                  class="text-center align-items-center d-flex justify-content-center pt-2 pb-2"
                >
                  <span class="details">Selangor, Malaysia</span
                  ><i class="mdi mdi-arrow-right right pl-1"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="card p-4 justify-content-center text-center align-items-center d-flex" style="color: #545454;">
                See More ...
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
